header{

    position: relative;
    height: 100%;
    width: 100%;

}

header h2{

    display: inline-block;
    position: absolute;
    color: #F1F1F1;
    margin-top: 30%;
    margin-left: 10%;
    font-size:x-large;
}

.hero{

    height: 100%;
    width: 100%;
    object-fit: cover;

}

.logo{

    height: 25%;
    width: 45%;
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
    display: inline-block;

}

.hero-content{

    width: fit-content;
    block-size: fit-content;

}

.hero-text{

    width: 40%;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

}

.bloco-dir{

    display: flex;
    align-items: center;
    margin: 5%;

}

.bloco-dir img{

    height: 50%;
    width: 50%;
    margin-left: 10%;

}
 

.bloco-esq{

    display: flex;
    align-items: center;
    margin: 5%;

}

.bloco-esq p{

    margin-left: 10%;

}

.bloco-esq img{

    height: 50%;
    width: 50%;

}


main p{

    position: relative;
    font-size: xx-large;
    width: fit-content;

}

ul {

    list-style-type: none;
    height: 50%;

}

ul li{

    margin-left: 10%;
    width: 400px;
    height: auto;

}



.bloco-esq li p{

    margin-left: 0;

}

.bloco-esq li img{

    width: auto;
    height: 200px;

}

.botao-download{

    background-color: green;
    display: flex;
    font-size: xx-large;
    padding: 20px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;

}

.botao-download a{

    text-decoration: none;
    color: #000000;
    margin: auto;

}

#screenshot{

    height: 100%;
    width: auto;
    display: inline-block;


}

.conteudo-dir{

    display: flex;
    justify-content: center;

}

.conteudo-debaixo{

    display: flex;

}

.flex-content{

    display: inline-block;

}

.item-text{

    width: 250px;

}